#1.3.6.1.4.1.34601.2.1.1 = ASN1:SET:MongerDBAuthorizationGrant
asn1=SET:MongerDBAuthorizationGrant

[MongerDBAuthorizationGrant]
grant1 = SEQUENCE:MongerDBRole
grant2 = SEQUENCE:MongerDBRole2

[MongerDBRole]
role  = UTF8:backup
database = UTF8:admin

[MongerDBRole2]
role  = UTF8:readAnyDatabase
database = UTF8:admin