[Unit]
Description=MongoDB Database Server
After=multi-user.target
Documentation=https://docs.mongerdb.org/manual

[Service]
User=mongerdb
Group=mongerdb
EnvironmentFile=-/etc/default/mongerd
ExecStart=/usr/bin/mongerd --config /etc/mongerd.conf
PIDFile=/var/run/mongerdb/mongerd.pid
# file size
LimitFSIZE=infinity
# cpu time
LimitCPU=infinity
# virtual memory size
LimitAS=infinity
# open files
LimitNOFILE=64000
# processes/threads
LimitNPROC=64000
# locked memory
LimitMEMLOCK=infinity
# total threads (user+kernel)
TasksMax=infinity
TasksAccounting=false

# Recommended limits for for mongerd as specified in
# http://docs.mongerdb.org/manual/reference/ulimit/#recommended-settings

[Install]
WantedBy=multi-user.target
