<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <?if $(var.Edition) = Enterprise ?>
      <WixVariable Id="MiscToolsDesc" Value="Miscellaneous MongoDB tools (bsondump, mongerdecrypt, mongerfiles, mongerldap)" />
    <?else?>
      <WixVariable Id="MiscToolsDesc" Value="Miscellaneous MongoDB tools (bsondump, mongerfiles)" />
    <?endif?>
    <FeatureGroup Id="fg_MongoDBAll">
      <Feature Id="ProductFeature"
               Title="!(wix.ProductName)"
               Description="!(wix.ProductName)"
               Level="1"
               ConfigurableDirectory="INSTALLLOCATION">
        <?if $(var.Edition) = Enterprise or $(var.Edition) = SSL ?>
          <MergeRef Id="m_vcredist"/>
        <?endif?>
        <ComponentGroupRef Id="cg_License" />
        <Feature Id="Server"
                 Title ="Server"
                 Description="The MongoDB server (mongerd)"
                 Level ="1">
        </Feature>
        <Feature Id="ServerNoService"
                 Title ="ServerNoService"
                 Description="The MongoDB server (mongerd)"
                 Display="hidden"
                 Level ="32767">
             <ComponentRef Id="c_mongerd"/>
             <ComponentRef Id="c_mongerdPdb"/>
             <ComponentRef Id="c_mongerdCfg"/>

             <?if $(var.Edition) = Enterprise ?>
               <ComponentGroupRef Id="cg_EnterpriseServer" />
             <?endif ?>
        </Feature>
        <Feature Id="ServerService"
                 Title ="ServerService"
                 Description="The MongoDB server (mongerd)"
                 Display="hidden"
                 Level ="32767">
             <ComponentRef Id="c_mongerdWithService"/>
             <ComponentRef Id="c_mongerdWithServiceUser" />
             <ComponentRef Id="c_MONGO_DATA_PATH"/>
             <ComponentRef Id="c_MONGO_LOG_PATH"/>
             <ComponentRef Id="c_mongerdPdb"/>
             <ComponentRef Id="c_mongerdCfg"/>

             <?if $(var.Edition) = Enterprise ?>
               <ComponentGroupRef Id="cg_EnterpriseServer" />
             <?endif ?>
        </Feature>
        <Feature Id="Client"
                 Title ="Client"
                 Description="The MongoDB client/shell (monger)"
                 Level ="1">
          <ComponentRef Id="c_monger"/>
          <?if $(var.Edition) = Enterprise ?>
            <ComponentGroupRef Id="cg_EnterpriseBase" />
          <?endif ?>
        </Feature>
        <Feature Id="MonitoringTools"
                 Title ="Monitoring Tools"
                 Description="MongoDB monitoring tools (mongerstat, mongertop)"
                 Level ="1">
          <ComponentRef Id="c_mongerstat"/>
          <ComponentRef Id="c_mongertop"/>
          <?if $(var.Edition) = Enterprise ?>
            <ComponentGroupRef Id="cg_EnterpriseBase" />
          <?endif ?>
        </Feature>
        <Feature Id="ImportExportTools"
                 Title ="Import/Export Tools"
                 Description="MongoDB import/export tools (mongerdump/mongerrestore and mongerexport/mongerimport)"
                 Level ="1">
          <ComponentRef Id="c_mongerdump"/>
          <ComponentRef Id="c_mongerrestore"/>
          <ComponentRef Id="c_mongerexport"/>
          <ComponentRef Id="c_mongerimport"/>
          <?if $(var.Edition) = Enterprise ?>
            <ComponentGroupRef Id="cg_EnterpriseBase" />
          <?endif ?>
        </Feature>
        <Feature Id="Router"
                 Title ="Router"
                 Description="The MongoDB Router (mongers)"
                 Level ="1">
          <ComponentRef Id="c_mongers"/>
          <ComponentRef Id="c_mongersPdb"/>
          <?if $(var.Edition) = Enterprise ?>
            <ComponentGroupRef Id="cg_EnterpriseBase" />
          <?endif ?>
        </Feature>
        <Feature Id="MiscellaneousTools"
                Title ="Miscellaneous Tools"
                Description="!(wix.MiscToolsDesc)"
                Level ="1">
          <ComponentRef Id="c_bsondump"/>
          <ComponentRef Id="c_mongerfiles"/>
          <?if $(var.Edition) = Enterprise ?>
            <ComponentGroupRef Id="cg_EnterpriseBase" />
            <ComponentRef Id="c_mongerdecrypt"/>
            <ComponentRef Id="c_mongerldap"/>
          <?endif ?>
        </Feature>
        <?if $(var.Edition) = Enterprise ?>
        <Feature Id="MongoCryptD"
                Title ="MongoCryptD"
                Description="MongoDB Field Level Encryption Daemon"
                Level ="1">
          <ComponentRef Id="c_mongercryptd"/>
          <ComponentRef Id="c_mongercryptdPdb"/>
        </Feature>
        <?endif ?>
      </Feature>
    </FeatureGroup>

    <!-- This feature only includes the powershell script in installation. WIX
         requires all components to have a feature and the component is required
         to bundle the script in the MSI. Display is set to hidden because this
         feature does not enable or disable anything. -->
    <Feature Id="InstallCompassFeature" Display="hidden">
      <ComponentRef Id="InstallCompass" />
    </Feature>
  </Fragment>
</Wix>
